/* For all elements, measure widths and heights with padding and border */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;

  margin: 0;
  padding: 0;
}

.ViewPort {
  height: 100vh;
  width: 100vw;
}

body {
  background: #F5F7F9;
}

div.WorkspaceBar {
  background: rgb(225, 240, 255);
  /* border-bottom: 1px solid grey;*/

  .Item {
    align-items: center;
    padding-left: 6pt;
    cursor: pointer;
    &:hover {
      background: lightgray !important;
    }
    /*
    padding-right: 4pt;
    border-right: 1px solid grey;
    padding-right: 6pt;
    */

    .Name {
      align-items: center;
      /* padding-left: 6pt; */
      height: 100%;
    }
  }

  .Item.Active {
    background: #F5F7F9;
  }
  /*
  & > div {
    height: 100%;
    align-items: center;
    padding: 2px;

    &.Active {
      background: lightgrey;
    }

    &:not(.Active) {
      border-bottom: 1px solid grey;
    }
  }
    */
}

.WindowTitleBar {
  app-region: drag;
}