/* ----------------------------------------------------------------------------
//
// Styles for story elements in the editor.
//
// ----------------------------------------------------------------------------
*/

@import "./board.css";
@import "./sheet.css";

/* ---------------------------------------------------------------------------- */
/* Variables */

/* ---------------------------------------------------------------------------- */
/* Wrapped pre for development */

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ---------------------------------------------------------------------------- */
/* Visibility (for debugging) */

/*
.Secondary { display: none; }
.Outline { display: none; }
*/

/* ---------------------------------------------------------------------------- */
/* Document outlining */
/* ---------------------------------------------------------------------------- */

.Outline {
  /*
  width: 300px;
  background-color: lightgray;
  */
  /*
  padding-top: 4px;
  padding-left: 6px;
  padding-top: 0.5cm;
  padding-left: 4px;
  */
  /*
  background: white;
  border-right: 1pt solid lightgray;
  */
}

.Outline a {
  color: inherit;
  text-decoration: inherit;
}

.Outline .Index {
  overflow: auto;
  padding: 4pt;
}

.Outline .Entry {
  cursor: default;
  /*
  padding: 6px;
  padding-left: 16px;
  */
}

.Outline .Entry:hover {
  background-color: lightgrey;
}

.Outline .Entry .Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Outline .Entry .Box {
  min-height: 9pt;
  max-height: 9pt;
  min-width: 9pt;
  max-width: 9pt;
  border: 1px solid black;
  margin-right: 9pt;
}

.Outline .Entry .Box.comment,
.Outline .Entry .Box.missing {
  margin-left: 18pt;
}

.Outline .Entry .Box.comment { background: rgb(71, 207, 71); }
.Outline .Entry .Box.missing { background: rgb(252, 44, 44); }
.Outline .Entry .Box.synopsis { background: rgb(243, 243, 12); }

/* ---------------------------------------------------------------------------- */
/* Sheet for writing and Board for scrollbar */
/* ---------------------------------------------------------------------------- */

.Board {
  display: flex;
  flex-grow: 1;
  flex-direction:column;
  overflow: auto;
}

.Sheet {
  /* Empty space around paper */
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  margin-left: auto;
  margin-right: auto;

  /* White space around text */
  padding-left: 1in;
  padding-right: 1in;
  padding-top: 0.5in;
  padding-bottom: 1in;

  min-width: 7in;
  max-width: 8in;
  min-height: 11in;
}

.Sheet {
  background: white;
}

.Sheet.Shadow {

  /*
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 0px inset, rgb(0 0 0 / 7%) 0px -1px 0px inset;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253), 0 4px 8px rgba(0, 0, 0, 0.322);
  /*
  */
}
