
.SectionCard {
  display: flex;

  overflow-y: auto;
  overflow-x: hidden;
  /*
  margin: 4pt;
  border: 1pt solid lightgray;
  padding: 4pt;
  */
}

.PartCard {
  border-bottom: 1pt dashed grey;
  margin-bottom: 8pt;

  padding-left: 4pt;
  /*
  margin-top: 4pt;
  border: 2pt solid lightgray;
  padding: 4pt;
  background: lightgoldenrodyellow;
  margin: 4pt;
  */
}

.SceneCard {
  display: flex;
  cursor:pointer;

  margin-top: 2pt;
  margin-bottom: 2pt;

  padding: 4pt;
  padding-top: 6pt;
  padding-bottom: 6pt;
  /*
  background: white;
  border: 1pt solid lightgray;
  margin: 4pt;
  */
}

.SceneCard:hover {
  background: lightgrey;
}

.SceneCard .Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
