/* ---------------------------------------------------------------------------- */
/* Document outlining */
/* ---------------------------------------------------------------------------- */

.Outline {
  overflow-y: auto;
  overflow-x: hidden;
  /*
  width: 300px;
  background-color: lightgray;
  */
  /*
  padding-top: 4px;
  padding-left: 6px;
  padding-top: 0.5cm;
  padding-left: 4px;
  */
  /*
  background: white;
  border-right: 1pt solid lightgray;
  */
  counter-reset: part scene;
}

/* ---------------------------------------------------------------------------- */

.Outline .PartName {
  /*
  padding-top: 4pt !important;
  padding-bottom: 4pt !important;
  */
}

.Outline .PartName.Included::before {
  counter-increment: part;
/*
  content: counter(part, upper-roman) "\00a0-\00a0";
*/
}

/* ---------------------------------------------------------------------------- */

.OutLine div.Scene {
  /*
  background: var(--comment-bg);
  */
  background: white;
}

.Outline div.Scene {
  /*
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 3pt;
  margin-left: 16pt;
  */
}

.Outline div.Scene:hover {
  background-color: #DEF;
}

.Outline div.Scene .Separator {
  /*
  margin: 0;
  margin-bottom: 2pt;
  border: 1px solid lightgrey;
  */
}

.Outline .SceneName {
  /*
  padding-top: 4pt !important;
  padding-bottom: 4pt !important;
  */
/*
  font-weight: 450;
  background: #FFD;
  font-weight: bold;
  padding-top: 4pt !important;
  border-bottom: 1pt solid gray;
*/
}

.Outline .SceneName .Name::before {
  width: 1cm;
}

.Outline .SceneName .Name.Included::before {
  counter-increment: scene;
  content: counter(scene) ". ";
}

.Outline .SceneName .Name.Excluded::before {
  content: "# ";
}

/* ---------------------------------------------------------------------------- */

.Outline .Entry {
  margin: 0;
  cursor: default;
  align-items: center;
  padding: 2px;
  /*
  padding-left: 6pt;
  padding-right: 4pt;
  padding-bottom: 2pt;
  padding-left: 16px;
  */
}

.Outline .Entry:hover {
  background-color: lightgrey;
}

.Outline .Entry .Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Outline .Entry .Box {
  min-height: 7pt;
  max-height: 7pt;
  min-width: 7pt;
  max-width: 7pt;
  border: 1px solid grey;
  margin-left: 1cm;
  margin-right: 6pt;
  /*
  margin-left: 8pt;
  border-radius: 4pt;
  */
}

/*
.Outline .Entry .Box.comment,
.Outline .Entry .Box.missing {
  margin-left: 18pt;
}
*/

.Outline .Entry .Box.comment { background: rgb(71, 207, 71); }
.Outline .Entry .Box.missing { background: rgb(252, 44, 44); }
.Outline .Entry .Box.synopsis { background: rgb(243, 243, 12); }

