/* ----------------------------------------------------------------------------
//
// Styles for story elements in the editor.
//
// ----------------------------------------------------------------------------
*/

:root {
  --comment-bg: #e7ffe7;
  --missing-bg: #f8e7e7;
  --synopsis-bg:#fdfdd6;
  --comment-fg: rgb(6, 61, 6);
  --missing-fg: rgb(190, 3, 3);
  --synopsis-fg: rgb(80, 80, 11);
}

/* ----------------------------------------------------------------------------
// Sheet
// ----------------------------------------------------------------------------
*/

.Sheet {
  /*
  font-family: 'Courier New', Courier, monospace;
  font-family:Arial, Helvetica, sans-serif;
  */
  font-size: 12pt;
  line-height: 180%;
  font-family: 'Times New Roman', Times, serif;
}

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet div, p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

/* Title */ .Sheet h1 {
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5in;
}

/* Part */ .Sheet h2 {
  margin-top: 0.5in;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  color:gray;
}

.Sheet h2::before {
  content: "PART: ";
}

/* Scene, Synopsis */ .Sheet h3, .Sheet h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  margin-top: 0.5cm;
  background: var(--synopsis-bg);
  color: var(--synopsis-fg);
  /*
  color: rgb(110, 110, 110);
  font-weight: inherit;
  color:rgb(77, 77, 77);
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  */
}

.Sheet h3::before {
  content: "## ";
  /*
  background: rgb(238, 238, 238);
  border: 1pt solid gray;
  border-radius: 4pt;
  padding: 1pt;
  padding-left: 4pt;
  padding-right: 4pt;
  */
/*
  margin-left: -0.5cm;
  margin-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  font-weight: bold;
*/
}

.Sheet h4::before {
  content: ">> ";
/*
  border: 1pt solid gray;
  border-radius: 4pt;
  padding: 1pt;
  padding-left: 4pt;
  padding-right: 4pt;
  margin-left: 2pt;
  */
/*
  margin-right: 4pt;
  margin-left: -4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
*/
}

/* ----------------------------------------------------------------------------
// Scene & part divs, not yet used
// ----------------------------------------------------------------------------
*/

.Sheet div.part {
  margin-left: 4pt;
  margin-right: 4pt;
  padding-bottom: 2cm;
  border-bottom: 1pt dashed gray;
  /*
  border: 1pt dashed gray;
  */
}

.Sheet div.scene {
  margin-left: 4pt;
  margin-right: 4pt;
  padding-left: 4pt;
  padding-right: 4pt;
  margin-bottom: 0.5cm;
  /*
  border: 1pt dotted lightgray;
  */
}

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet p, .Sheet div.emptyline {
  margin: 0pt;
}

.Sheet p + p, .Sheet p + div.emptyline {
  text-indent: 1.0cm;
}

/* ---------------------------------------------------------------------------- */

.Sheet .missing, .Sheet .comment, .Sheet .synopsis {
/*
  padding-top: 4pt;
  padding-bottom: 4pt;
  font-family: Arial, Helvetica, sans-serif;
*/
/*
  padding: 4pt;
  text-indent: 0;
  margin-top: 4pt;
  margin-bottom: 4pt;
  margin-left: 1cm;
  */
}

.Sheet .missing {
  /* color: rgb(155, 28, 28); */
  background: var(--missing-bg);
  color: var(--missing-fg);
  /* border-left: 4px solid #D88; */
}

.Sheet .missing::before {
  content: "!! ";
}

.Sheet .comment {
  background: var(--comment-bg);
  color: var(--comment-fg);
}

.Sheet .comment::before {
  content: "// ";
}

/*
.Sheet .missing::before {
  content: "Missing";
  border: 1pt solid var(--missing-fg);
  border-radius: 4pt;
  color: var(--missing-fg);
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  margin-right: 4pt;
}

.Sheet .comment::before {
  content: "Comment";
  border: 1pt solid var(--comment-fg);
  border-radius: 4pt;
  color: var(--comment-fg);
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  margin-right: 4pt;
}
*/

.Sheet .synopsis {
  /* color: rgb(46, 49, 7); */
  background: var(--synopsis-bg);
}

/* ----------------------------------------------------------------------------
// Floating subelements
// ----------------------------------------------------------------------------
*/

/* Tooltip container */
.Sheet .FloatHandle {
  position: relative;
  /*
  display: inline-block;
  */
}

/* Tooltip text */
.Sheet .FloatHandle .FloatContent {
  visibility: hidden;
  width: 100%;
  /*
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  */
  padding: 5px 0;
  border: 1pt solid grey;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Sheet .FloatHandle:hover .FloatContent {
  visibility: visible;
}
