.isDragged {
  border-style: dashed !important;
  background: transparent !important;
}

.isDragged * {
  visibility: hidden;
  /*opacity: 0.3;*/
  /*border: 3px dashed black !important;*/
}

.canAccept {
  border-style: dashed !important;
  border-color: lightblue !important;
}

.canDrop {
  background: lightblue !important;
}
