/* ----------------------------------------------------------------------------
//
// Styles for workspace
//
// ----------------------------------------------------------------------------
*/

.Workspace {
  display: flex;
  /*flex-grow: 1;*/
  background: #eee;
  border: 2pt none grey;
}

/**/