/* ----------------------------------------------------------------------------
//
// Styles for workspace
//
// ----------------------------------------------------------------------------
*/

.Workspace {
  min-width: 5cm;
  background: #eee;
  border-right: 1pt solid lightgrey;
}
