/* ----------------------------------------------------------------------------
//
// Sheet colors
//
// ----------------------------------------------------------------------------
*/

:root {
  --synopsis-fg: rgb(80, 80, 11);
  --synopsis-bg:#fdfdd6;

  --missing-fg: rgb(190, 3, 3);
  --missing-bg: #f8e7e7;

  --fill-fg: rgb(190, 3, 170);
  /*--fill-bg: #f8e7e7;*/

  --comment-fg: rgb(6, 61, 6);
  --comment-bg: #e7ffe7;
}

