/* ----------------------------------------------------------------------------
//
// Sheet styling: shared between editor and export preview
//
// ----------------------------------------------------------------------------
*/

@import "colors.css";

/* ---------------------------------------------------------------------------- */
/* Board for scrollbars */
/* ---------------------------------------------------------------------------- */

.Board {
  background: #F5F7F9;
  overflow: auto;
  /*
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 1cm;
  */
}

/*
.Board:focus-within {
  background: #e5eaee;
}
*/

/* ----------------------------------------------------------------------------
// Sheet
// ----------------------------------------------------------------------------
*/

.Sheet {
  /*
  font-family: 'Courier New', Courier, monospace;
  font-family:Arial, Helvetica, sans-serif;
  */
  font-size: 12pt;
  line-height: 180%;
  font-family: 'Times New Roman', Times, serif;
  counter-reset: act chapter scene;

  background: white;

  box-sizing:content-box;

  max-width: 6in;
  min-width: 4.5in;
}

/* Sheet is outlined, if one of its children have focus */
.Sheet:focus-within {
  outline: 2px solid lightblue;
}

/* Child in Sheet are not outlined */
.Sheet > :focus {
  outline: none;
}

.Sheet.Condensed {
  padding: 1cm;
}

.Sheet.Real, .Sheet.Regular {
  /* Empty space around paper */
  margin: 0.5cm;
  margin-right: auto;
  margin-left: auto;
  /*
  */
  min-height: 10in;
  /*
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 0px inset, rgb(0 0 0 / 7%) 0px -1px 0px inset;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253), 0 4px 8px rgba(0, 0, 0, 0.322);
  /*
  */
}

.Sheet.Regular {
  /* White space around text */
  padding-left: 2cm;
  padding-right: 2cm;
  padding-top: 1cm;
  padding-bottom: 2cm;
}

.Sheet.Real {
  padding-left: 1in;
  padding-right: 1in;
  padding-top: 0.5in;
  padding-bottom: 1in;
}

/* ----------------------------------------------------------------------------
// Act, chapter and scene divs
// ----------------------------------------------------------------------------
*/

.Sheet div.act {
  /*
  margin-bottom: 0.5cm;
  */
}

.Sheet div.chapter {
  /*
  margin-bottom: 0.5cm;
  */
}

.Sheet div.scene {
  margin-bottom: 0.5cm;
/*
  */
}

.Sheet div.synopsis {
  padding: 4pt;
  background: var(--synopsis-bg);
  color: var(--synopsis-fg);
  border: var(--synopsis-border);
  margin-bottom: 0.5cm;
}

/* ----------------------------------------------------------------------------
// For debugging purposes: make chapter & scene div's visible
// ----------------------------------------------------------------------------
*/

.Sheet div.act.withBorders {
  border: 1pt solid lightblue;
  padding: 4pt;
  margin-bottom: 4pt;
}

.Sheet div.chapter.withBorders {
  border: 1pt dashed gray;
  padding: 4pt;
  margin-bottom: 4pt;
}

.Sheet div.scene.withBorders, div.synopsis.withBorders {
  border: 1pt dotted lightgray;
  padding: 4pt;
  margin-bottom: 4pt;
}

/* ----------------------------------------------------------------------------
// Folding
// ----------------------------------------------------------------------------
*/

.Sheet div.folded {
  position: relative;
  margin: 0 !important;
  /*
  margin-left: -4pt;
  padding-left: 4pt;
  margin-top: 4pt;
  margin-bottom: 4pt;
  background: rgb(247, 247, 247);
  animation: splash 0.1s linear;
  */
}

.Sheet div.folded::before {
  position: absolute;
  left: -0.75cm;
  color: grey;
  content: "[+]";
  /*
  content: "•••";
  border: 1px solid lightgray;
  font-size: 10pt;
  border-radius: 4px;
  padding-right: 4pt;
  padding-left: 4pt;
  */
}

.Sheet div.folded p,
.Sheet div.folded div.emptyline,
.Sheet .act.folded div.chapter,
.Sheet .chapter.folded div.scene
.Sheet .chapter.folded div.synopsis {
    display: none
}

.Sheet div.folded h4,
.Sheet div.folded h5,
.Sheet div.folded h6 {
  display: inline;
  color: #AAA;
}

.Sheet p.folded {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet div, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.Sheet .highlight {
  background: #ffeeba;
}

/* Title */ .Sheet h1 {
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1cm;
}

/* Subtitle */ .Sheet h2 {
  font-size: 14pt;
  text-align: center;
}

/* Page break */ .Sheet hr {
  border: 0;
  border-top: 1px dashed LightSteelBlue;
}

/* ----------------------------------------------------------------------------
// Act, chapter and scene headings
// ----------------------------------------------------------------------------
*/

/* Act */ .Sheet h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12pt;
  margin-bottom: 12pt;
  color: #666;
/*
  font-size: 14pt;
*/
}

.Sheet h4.Numbered::before {
  margin-right: 4pt;
  counter-increment: act;
  content: "Act " counter(act, upper-roman) ":";
}

/* Chapter */ .Sheet h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  color: #666;
/*
  font-weight: normal;
  font-weight: bold;
  padding-top: 4pt;
  padding-bottom: 4pt;
  text-align: center;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
*/
}

.Sheet h5.Numbered::before {
  margin-right: 4pt;
  counter-increment: chapter;
  content: counter(chapter) ".";
}

/* Scene / Synopsis */ .Sheet h6 {
  font-size: inherit;
  color: #888;
  /*
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bookmark-fg);
  background: var(--bookmark-bg);
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0.5cm;
  */
}

.Sheet div.scene h6::before {
  counter-increment: scene;
  margin-right: 8pt;
  content: "##";
/*
  content: counter(scene) ".";
*/
}

.Sheet div.synopsis h6::before {
  content: ">> Synopsis: ";
/*
  margin-right: 8pt;
*/
}


/*
.Sheet div.emptyline::before {
  content: "<br>";
}
*/

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet p, .Sheet div.emptyline {
  margin: 0pt;
}

.Sheet p + p, .Sheet p + div.emptyline {
  text-indent: 1.0cm;
}

/* ---------------------------------------------------------------------------- */

.Sheet .missing {
  color: var(--missing-fg);
}

.Sheet .missing::before {
  content: "!!";
  margin-right: 4pt;
}

.Sheet .fill {
  color: var(--fill-fg);
}

.Sheet .fill::before {
  content: "++ Fill:";
  margin-right: 4pt;
}

.Sheet .tags {
  color: var(--tags-fg);
}

.Sheet .tags::before {
  content: "@";
  margin-right: 4pt;
}

.Sheet .comment {
  background: var(--comment-bg);
  color: var(--comment-fg);
}

.Sheet .comment::before {
  content: "//";
  margin-right: 4pt;
}

.Sheet .bookmark {
  /* color: rgb(46, 49, 7); */
  color: var(--bookmark-fg);
  background: var(--bookmark-bg);
}

.Sheet .bookmark::before {
  content: "??";
  margin-right: 4pt;
}

/* ----------------------------------------------------------------------------
// Floating subelements
// ----------------------------------------------------------------------------
*/

/* Tooltip container */
.Sheet .FloatHandle {
  position: relative;
  /*
  display: inline-block;
  */
}

/* Tooltip text */
.Sheet .FloatHandle .FloatContent {
  visibility: hidden;
  width: 100%;
  /*
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  */
  padding: 5px 0;
  border: 1pt solid grey;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Sheet .FloatHandle:hover .FloatContent {
  visibility: visible;
}
