/* ----------------------------------------------------------------------------
//
// Export preview styles
//
// ----------------------------------------------------------------------------
*/

@import "colors.css";
@import "sheet.css";

/* ----------------------------------------------------------------------------
// Preview Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Preview .Sheet {

div, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 { /* Title */
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1cm;
}

h2 { /* Subtitle */
  font-size: 14pt;
  text-align: center;
}

hr { /* Page break */
  border: 0;
  border-top: 1px dashed LightSteelBlue;
}

/* ----------------------------------------------------------------------------
// Act, chapter and scene headings
// ----------------------------------------------------------------------------
*/

h4 { /* Act */
  font-size: 16pt;
  text-align: center;
  margin-top: 12pt;
  margin-bottom: 12pt;
/*
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #666;
*/
}

h4.Numbered::before {
  counter-increment: act;
/*
  margin-right: 4pt;
  content: "Act " counter(act, upper-roman) ":";
*/
}

h5 { /* Chapter */
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 0.5cm;
  margin-top: 1cm;
/*
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-weight: normal;
  padding-top: 4pt;
  padding-bottom: 4pt;
  text-align: center;
*/
}

h5.Numbered::before {
  counter-increment: chapter;
/*
  margin-right: 4pt;
  content: counter(chapter) ".";
*/
}

h6 { /* Scene / Synopsis */
  font-size: inherit;
  font-weight: bold;
  margin-top: 12pt;
  /*
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bookmark-fg);
  background: var(--bookmark-bg);
  padding-top: 4pt;
  padding-bottom: 4pt;
  */
}

h6.Numbered::before {
  counter-increment: scene;
/*
  content: "## ";
  margin-right: 8pt;
  content: counter(scene) ".";
*/
}

/*
div.emptyline::before {
  content: "<br>";
}
*/

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

p, div.emptyline {
  margin: 0pt;
}

p + p, p + div.emptyline {
  text-indent: 1.0cm;
}

/* ---------------------------------------------------------------------------- */
/* Missing */

p.missing {
  color: var(--missing-fg);
}

/* ---------------------------------------------------------------------------- */
/* Comment */

p.comment {
  color: var(--comment-fg);
  background: var(--comment-bg);
}
}
