/* ----------------------------------------------------------------------------
//
// Sheet styling: shared between editor and export preview
//
// ----------------------------------------------------------------------------
*/

:root {
  --synopsis-fg: rgb(80, 80, 11);
  --synopsis-bg:#fdfdd6;

  --missing-fg: rgb(190, 3, 3);
  --missing-bg: #f8e7e7;

  --comment-fg: rgb(6, 61, 6);
  --comment-bg: #e7ffe7;
}

/* ---------------------------------------------------------------------------- */
/* Board for scrollbars */
/* ---------------------------------------------------------------------------- */

.Board {
  background: #F5F7F9;
  overflow: auto;
  /*
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 1cm;
  */
}

/*
.Board:focus-within {
  background: #e5eaee;
}
*/

/* ----------------------------------------------------------------------------
// Sheet
// ----------------------------------------------------------------------------
*/

.Sheet {
  /*
  font-family: 'Courier New', Courier, monospace;
  font-family:Arial, Helvetica, sans-serif;
  */
  font-size: 12pt;
  line-height: 180%;
  font-family: 'Times New Roman', Times, serif;
  counter-reset: part scene;

  background: white;

  box-sizing:content-box;

  max-width: 6in;
  min-width: 4.5in;
  min-height: 10in;
}

/* Sheet is outlined, if one of its children have focus */
.Sheet:focus-within {
  outline: 2px solid lightblue;
}

/* Child in Sheet are not outlined */
.Sheet > :focus {
  outline: none;
}

.Sheet.Condensed {
  padding: 1cm;
}

.Sheet.Real, .Sheet.Regular {
  /* Empty space around paper */
  margin: 0.5cm;
  margin-right: auto;
  margin-left: auto;
  /*
  */
  /*
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 0px inset, rgb(0 0 0 / 7%) 0px -1px 0px inset;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253), 0 4px 8px rgba(0, 0, 0, 0.322);
  /*
  */
}

.Sheet.Regular {
  /* White space around text */
  padding-left: 2cm;
  padding-right: 2cm;
  padding-top: 1cm;
  padding-bottom: 2cm;
}

.Sheet.Real {
  padding-left: 1in;
  padding-right: 1in;
  padding-top: 0.5in;
  padding-bottom: 1in;
}

/* ----------------------------------------------------------------------------
// Scene & part divs
// ----------------------------------------------------------------------------
*/

.Sheet div.part {
  margin-bottom: 0.5cm;
  /*
  border: 1pt dashed gray;
  padding: 4pt;
  margin-bottom: 4pt;
  */
}

.Sheet div.scene {
  margin-bottom: 0.5cm;
  /*
  border: 1pt dotted lightgray;
  padding: 4pt;
  margin-bottom: 4pt;
  */
}

/* ----------------------------------------------------------------------------
// Folding
// ----------------------------------------------------------------------------
*/

.Sheet div.folded {
  margin: 0;
  margin-left: -4pt;
  padding-left: 4pt;
  margin-top: 4pt;
  margin-bottom: 4pt;
  /*
  background: rgb(247, 247, 247);
  */
}

.Sheet div.folded::after {
  margin-left: 6pt;
  content: "•••";
  font-size: 10pt;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-right: 4pt;
  padding-left: 4pt;
  /*
  */
}

.Sheet div.folded h5,
.Sheet div.folded h6 {
  display: inline;
/*
*/
}

.Sheet div.fold {
  display: none;
  /*
  user-select: none;
  background: rgb(247, 247, 247);
  border: 1pt dotted lightgray;
  padding: 4pt;
  margin: 4pt;
  */
}

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet div, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.Sheet .highlight {
  background: #ffeeba;
}

/* Title */ .Sheet h1 {
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1cm;
}

/* Subtitle */ .Sheet h2 {
  font-size: 14pt;
  text-align: center;
}

/* Chapter */ .Sheet h3 {
  font-size: 12pt;
/*
  font-weight: bold;
*/
  margin-bottom: 0.5cm;
}

/* Page break */ .Sheet hr {
  border: 0;
  border-top: 1px dashed LightSteelBlue;
}

/* ----------------------------------------------------------------------------
// Part & scene headings
// ----------------------------------------------------------------------------
*/

/* Part */ .Sheet h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #888;
/*
  padding-top: 4pt;
  padding-bottom: 4pt;
  text-align: center;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
*/
}

.Sheet h5::before {
  counter-increment: part;
}

/* Scene*/ .Sheet h6 {
  font-size: inherit;
  font-weight: bold;
  color: #888;
  /*
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0.5cm;
  */
}

.Sheet h6::before {
  margin-right: 8pt;
}

.Sheet h6::before {
  counter-increment: scene;
  content: counter(scene) ".";
}

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet p, .Sheet div.emptyline {
  margin: 0pt;
}

.Sheet p + p, .Sheet p + div.emptyline {
  text-indent: 1.0cm;
}

/* ---------------------------------------------------------------------------- */

.Sheet .missing, .Sheet .comment, .Sheet .synopsis {
/*
  padding-top: 4pt;
  padding-bottom: 4pt;
  font-family: Arial, Helvetica, sans-serif;
*/
/*
  padding: 4pt;
  text-indent: 0;
  margin-top: 4pt;
  margin-bottom: 4pt;
  margin-left: 1cm;
  */
}

.Sheet .missing {
  color: var(--missing-fg);
  /*
  background: var(--missing-bg);
  */
  /* color: rgb(155, 28, 28); */
  /* border-left: 4px solid #D88; */
}

.Sheet .missing::before {
  content: "!!";
  margin-right: 4pt;
/*
  background: var(--missing-bg);
  padding: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
*/
}

.Sheet .comment {
  background: var(--comment-bg);
  color: var(--comment-fg);
}

.Sheet .comment::before {
  content: "//";
  margin-right: 4pt;
}

.Sheet .synopsis {
  /* color: rgb(46, 49, 7); */
  color: var(--synopsis-fg);
  background: var(--synopsis-bg);
}

.Sheet .synopsis::before {
  content: ">>";
  margin-right: 4pt;
}

/* ----------------------------------------------------------------------------
// Floating subelements
// ----------------------------------------------------------------------------
*/

/* Tooltip container */
.Sheet .FloatHandle {
  position: relative;
  /*
  display: inline-block;
  */
}

/* Tooltip text */
.Sheet .FloatHandle .FloatContent {
  visibility: hidden;
  width: 100%;
  /*
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  */
  padding: 5px 0;
  border: 1pt solid grey;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Sheet .FloatHandle:hover .FloatContent {
  visibility: visible;
}
