/* ---------------------------------------------------------------------------- */
/* Document outlining */
/* ---------------------------------------------------------------------------- */

@import "colors.css";

.SectionName {
  padding: 6px;
  border-bottom: 1px solid lightgray;
}

.TOC {
  overflow: auto;
  /*
  min-width: 350px;
  max-width: 350px;
  width: 300px;
  background-color: lightgray;
  */

  flex-grow: 1;
  padding: 6px;
  padding-bottom: 1cm; /* For DnD */
  /*
  padding-top: 4px;
  padding-left: 6px;
  padding-top: 0.5cm;
  padding-left: 4px;
  */
  /*
  background: white;
  border-right: 1pt solid lightgray;
  */
  counter-reset: chapter scene;
}

/* ---------------------------------------------------------------------------- */

.TOC div.Chapter, .TOC div.Scene {
  background: #F5F7F9;
}

.TOC div.Scene:hover {
  background-color: #DEF;
}

/* ---------------------------------------------------------------------------- */

.TOC .ChapterName {
  font-weight: bold;
  /*
  padding-top: 4pt !important;
  padding-bottom: 4pt !important;
  */
}

.TOC .ChapterName.Numbered .Name::before {
  counter-increment: chapter;
  content: counter(chapter) ". ";
/*
  content: counter(chapter, upper-roman) "\00a0-\00a0";
*/
}

.TOC div.SceneDropZone {
  min-height: 16pt
}

.TOC div.SceneDropZone.DragOver {
  margin-left: -4px;
  margin-right: -4px;
  border: 1px dashed grey;
  border-radius: 4px;
  padding: 3px;
  /*
  padding-top: 6px;
  padding-bottom: 6px;
  */
}

/* ---------------------------------------------------------------------------- */

.TOC div.Scene {
  /*
  padding-left: 0.5cm !important;
  padding-left: 0.25cm;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 3pt;
  margin-left: 16pt;
  */
}

.TOC div.Scene .Separator {
  /*
  margin: 0;
  margin-bottom: 2pt;
  border: 1px solid lightgrey;
  */
}

.TOC .SceneName {
  padding-left: 0.5cm !important;
  /*
  padding-top: 4pt !important;
  padding-bottom: 4pt !important;
  */
/*
  font-weight: 450;
  background: #FFD;
  font-weight: bold;
  padding-top: 4pt !important;
  border-bottom: 1pt solid gray;
*/
}

.TOC .SceneName.Numbered .Name::before {
  /* width: 1cm; */
  counter-increment: scene;
/*
  content: counter(scene) ". ";
*/
}

.TOC .BookmarkName {
  padding-left: 0.5cm !important;
}

/* ---------------------------------------------------------------------------- */

.TOC .Entry {
  margin: 0;
  cursor: default;
  align-items: center;
  padding: 2px;
  /*
  padding-left: 6pt;
  padding-right: 4pt;
  padding-bottom: 2pt;
  padding-left: 16px;
  */
}

.TOC .Current {
  background-color: rgb(210, 230, 250);
}

.TOC .Entry.Folded {
  opacity: 33%;
}

.TOC .Entry:hover {
  background-color: lightgrey;
}

.TOC .Entry .Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TOC .Entry .Box {
  min-height: 7pt;
  max-height: 7pt;
  min-width: 7pt;
  max-width: 7pt;
  border: 1px solid grey;
  margin-left: 0.5cm;
  margin-right: 6pt;
  /*
  margin-left: 8pt;
  border-radius: 4pt;
  */
}

/*
.TOC .Entry .Box.synopsis,
.TOC .Entry .Box.comment,
.TOC .Entry .Box.missing {
  margin-left: 0.5cm;
}
*/

/**/
.TOC .Entry .Box.comment { background: rgb(71, 207, 71); }
.TOC .Entry .Box.missing { background: rgb(232, 14, 14); }
.TOC .Entry .Box.fill { background: rgb(252, 84, 252); }
.TOC .Entry .Box.synopsis { background: rgb(243, 243, 62); }
.TOC .Entry .Box.tags { background: rgb(80, 80, 250); }
/*/
.TOC .Entry .Box.comment { background: var(--comment-fg); }
.TOC .Entry .Box.missing { background: var(--missing-fg); }
.TOC .Entry .Box.fill { background: var(--fill-fg); }
.TOC .Entry .Box.synopsis { background: var(--synopsis-fg); }
/**/