/******************************************************************************
 *
 * Settings for whole application
 *
 ******************************************************************************/

/* For all elements, measure widths and heights with padding and border */
* {
  box-sizing: border-box;

  /*
  &:focus { outline: 2px solid red; }
  /*/
  &:focus, &focus-within {}
  /**/
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12pt;
}

body {
  margin: 0;
  padding: 0;
  /*
  background: #F5F7F9;
  */
}

.ViewPort {
  height: 100vh;
  width: 100vw;
}
