/* ----------------------------------------------------------------------------
// UI base styles
// ----------------------------------------------------------------------------
*/

.Icon {
  width: 12pt;
  height: 12pt;
}

button {
  padding-block: 0;
  padding-inline: 0;
  font-size: inherit;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  padding: 2px 6px;

  &.Outlined {
    background: canvas;
    justify-content: left;
  }

  &:disabled {
    color: grey;
  }
  &:hover, &[data-pressed] {
    background: #DDD;
  }

  &.toggle {
    &[data-pressed] {
      background: lightblue;
    }
  }
}

.Toolbar {
  & > button, & > .ButtonGroup > button {
    border: none;
    background: transparent;
    min-width: 28px;
    min-height: 28px;

    &:hover {
      background: #DDD;
    }

    &.icon {
      padding: 2px;
    }

    &.toggle {
      &[data-pressed] {
        background: lightblue;
      }
    }
  }

  & > .Icon, & > button .Icon, & > .ButtonGroup > button .Icon {
    width: 24px;
    height: 24px;
  }
}

.Entry {
  & > button {
    border: none;
    background: transparent;

    &:hover {
      background: #DDD;
    }

    &.icon {
      padding: 2px;
    }

    &.toggle {
      &[data-pressed] {
        background: lightblue;
      }
    }
  }
}

/* ----------------------------------------------------------------------------
// Outlined elements
// ----------------------------------------------------------------------------
*/

.Outlined {
  align-items: center;
  border: 1px solid #AAA;
  border-radius: 3px;
  padding: 2pt;
  margin: 2pt;
  margin-top: 8pt;
  padding-top: 4pt;
  position: relative;

  &[label] {
    &:before {
      background: canvas;
      color: #555;
      padding: 0pt 2pt;
      font-size: 10pt;
      position: absolute;
      top: -6pt;
      left: 3pt;
      content: attr(label);
    }
  }

  /*-------------------------------------------------------------------------*/
  &:focus-within {
    /*
    outline: 2px solid lightblue;
    */
  }
}
