/* ----------------------------------------------------------------------------
// UI base styles
// ----------------------------------------------------------------------------
*/

.Icon {
  width: 12pt;
  height: 12pt;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  background: lightgrey;
  padding-block: 0;
  padding-inline: 0;
  padding: 2px 6px;

  &:hover, &[data-pressed] {
    background: #AAA;
  }

  &.toggle {
    &[data-pressed] {
      background: lightblue;
    }
  }
}

.Toolbar {
  button {
    border: none;
    background: transparent;
    min-width: 28px;
    min-height: 28px;

    &:hover {
      background: #AAA;
    }

    &.icon {
      padding: 2px;
    }
  }

  .Icon {
    width: 24px;
    height: 24px;
  }
}