/* ----------------------------------------------------------------------------
// UI base styles
// ----------------------------------------------------------------------------
*/

.Icon {
  width: var(--font-size);
  height: var(--font-size);
}

button {
  padding-block: 0;
  padding-inline: 0;
  font-size: inherit;
  border: 1px solid;
  border-radius: 3px;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  background: none;

  /* Selectors for non-icon buttons */
  &:not(.icon) {
    &.error   {background: var(--error-bg); border-color: var(--error-border); color: var(--error-fg); }
    &.success {background: var(--success-bg); border-color: var(--success-border); color: var(--success-fg);}
  }

  /* Selectors for icon buttons */
  &.icon {
    opacity: 80%;
    &.error   {color: var(--error-fg)}
    &.success {color: var(--success-fg)}
  }

  &:disabled {
    opacity: 40%;
  }

  &:hover {background: var(--hover-bg) !important;}

  &.checked {
    background: var(--checked-bg);
  }

  &.Outlined {
    justify-content: left;
  }
}

.Toolbar {
  & > button {
    min-width: 28px;
    min-height: 28px;
    border: none;
    border-radius: 0;

    &.icon {
      padding: 2px;
    }
  }

  & > .Icon, & > button .Icon {
    width: 24px;
    height: 24px;
  }
}
