/******************************************************************************
*
* Colors for UI
*
*******************************************************************************/

:root {
  --error-fg: #B00;
  --error-bg: #F22;
  --error-border: #B00;

  --success-fg: #050;
  --success-bg: #d6efe3;
  --success-border: #6B6;

  --checked-bg: #ACF;

  --hover-bg: #DDD;

  --popup-border: #BBB;

  --tooltip-fg: white;
  --tooltip-bg: #222;
  --tooltip-border: none;

  --filler-bg: #FAF;
}
