/******************************************************************************
*
* Theme colors
*
*******************************************************************************/

:root {
  /* Colors for UI */
  --popup-border: #BBB;

  --tooltip-fg: white;
  --tooltip-bg: grey;
}
