/******************************************************************************
*
* Input
*
*******************************************************************************
*/

/* Reset default values */

input {
  font-size: inherit;
  padding: 0px;
  margin: 0;
  border-width: 0px;
  &:focus {outline: none;}
  background: lightgoldenrodyellow;
}
