/******************************************************************************
*
* Menus
*
*******************************************************************************
*/

.Menu {
  padding: 4px 4px;

  .Item {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    cursor: default;
    padding: 5px 0px;
    border-radius: 3px;
    &:hover {
      background-color: #8BF;
    }

    .startIcon {
      color: grey;
      margin-right: 4px;
      min-width: 12pt;
    }

    .endAdornment {
      color: grey;
    }

    .endIcon {
      min-width: 12pt;
      color: grey;
    }

    /*
    padding-left: 1rem;
    padding-right: 2rem;
    outline: 0;
    user-select: none;
    padding-block: 0.5rem;
    display: flex;
    font-size: 0.875rem;
    line-height: 1rem;
    */

    /*
    &[data-highlighted] {
      z-index: 0;
      position: relative;
      color: var(--color-gray-50);
    }
    */

    /*
    &[data-highlighted]::before {
      content: '';
      z-index: -1;
      position: absolute;
      inset-block: 0;
      inset-inline: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--color-gray-900);
    }
      */
  }
}
