/******************************************************************************
*
* Popups
*
*******************************************************************************
*/

.Positioner {
  /*outline: 2px solid red;*/
}

.Popup, .Menu, .Dialog {

  /* Popup background */
  background: white;
  .ArrowFill { fill: white; }

  /* Popup border */
  outline: 1px solid var(--popup-border);
  .ArrowOuterStroke { fill: var(--popup-border); }
  .ArrowInnerStroke {
    fill: none;
  }
  border-radius: 3px;
  padding: 3px;

  /* Popup shadow */
  box-shadow: 5px 5px 10px var(--popup-border);
}

/*-----------------------------------------------------------------------------
* Tooltip popup
*------------------------------------------------------------------------------
*/

.Tooltip {
  background: var(--tooltip-bg);
  color: var(--tooltip-fg);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 10pt;

  .ArrowFill {
    fill: var(--tooltip-bg);
  }
}

/*-----------------------------------------------------------------------------
* Popup arrow
*------------------------------------------------------------------------------
*/

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}
