/* ----------------------------------------------------------------------------
// Styles for Separator depending if it is horizontal or vertical box.
// ----------------------------------------------------------------------------
*/

@import "./app.css";
@import "./container.css";
@import "./button.css";
@import "./input.css";
@import "./decorations.css";
@import "./tooltip.css";

/******************************************************************************
*
* Colors for UI
*
*******************************************************************************/

:root {
  --border-color: grey;
  --error-bg: rgb(255, 171, 171);
  --error-fg: #800;
  --error-border: #A00;

  --success-bg: #d6efe3;
  --success-fg: #050;
  --success-border: #6B6;

  --checked-bg: #ACF;

  --hover-bg: #0002;

  --popup-border: #BBB;

  --tooltip-fg: white;
  --tooltip-bg: #222;
  --tooltip-border: none;

  --filler-bg: #FAF;

  --font-size: 12pt;
  --font-size-small: 10pt;
}
