/* ----------------------------------------------------------------------------
// Styles for Separator depending if it is horizontal or vertical box.
// ----------------------------------------------------------------------------
*/

@import "app.css";
@import "base.css";

.VBox {
  display: flex;
  flex-direction: column;

  > .Separator {
    width:  100%;
    border-bottom: 1pt solid lightgrey;
    margin-top: 4pt;
    margin-bottom: 4pt;
  }
}

.HBox {
  display: flex;
  flex-direction: row;

  > .Separator {
    height: 100%;
    border-right: 1pt solid lightgrey;
    margin-left: 4pt;
    margin-right: 4pt;
  }
}

.Filler {
  flex-grow: 1;
}

.Toolbar {
  padding: 2px;
  align-items: center;

  /*
  paddingLeft: 4, paddingRight: 4,
  paddingTop: 4, paddingBottom: 4,
  //backgroundColor: "#F8F8F8",
  */

  &.top {
    border-bottom: 1pt solid lightgray;
  }

  &.bottom {
    border-top: 1pt solid lightgray;
  }
}
