/*-----------------------------------------------------------------------------
* Tooltip popup
*------------------------------------------------------------------------------
*/

.Tooltip {
  background: var(--tooltip-bg);
  color: var(--tooltip-fg);
  border: 1px solid var(--tooltip-border);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 10pt;

  .ArrowFill {
    fill: var(--tooltip-bg);
  }

  .ArrowBorder {
    fill: var(--tooltip-border);
  }
}
