/* ----------------------------------------------------------------------------
//
// Styles for file browser
//
// ----------------------------------------------------------------------------
*/

.FileCard {
  margin: 4px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 250px;
  align-items: center;
  cursor:pointer;
}

.FileCard:hover {
  background-color: lightgrey;
}

/* Search file list */

tr.File {
}

tr.File > td {
  padding-top: 8px;
  padding-bottom: 8px;
}

tr.disabled > td { color: grey; }

td.FileIcon { width: 5%; }
td.FileName { width: 35%; }
td.FileDir  { width: 60%; color:grey; }
