/*****************************************************************************/
/* moe "main" CSS for GUI elements. */
/*****************************************************************************/

/*****************************************************************************/

body {
    background: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
}

/*****************************************************************************/

.gui {
    font-size: 11pt;
    font-family: Arial;
}

div#menubar {
    background: white;
    border: 0px;
    padding: 4pt;
}

div#toolbar {
    background: rgb(240, 240, 240);
    border: 0px;
    /* border-top: 1px solid rgb(200, 200, 200); */
    /* border-bottom: 2px groove rgb(200, 200, 200); */
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 4pt;
}

/*****************************************************************************/

.btn {
}

/*****************************************************************************/

.check       { display: inline-block; }
.check input { display: none; }
.check label { 
    display: inline-block;
    padding: 4pt;
    padding-left: 6pt;
    padding-right: 6pt;	

    border: 1px solid rgb(160, 160, 160);
    border-radius: 3px;

    transition-property: background;
    transition-duration: 0.2s;
    background: transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check label:hover {
    transition-property: background;
    transition-duration: 0.2s;
    background: rgb(200, 200, 200);
}

.check input:checked + label {
    /* border: 2pt inset; */
    transition-property: background;
    transition-duration: 0.2s;
    background: rgb(150, 150, 150);	
}

/*****************************************************************************/

div#statusbar {
    background: rgb(240, 240, 240);
    border: 0px;
    /* border-top: 2px groove rgb(200, 200, 200); */
    border-top: 1px solid rgb(150, 150, 150);
    padding: 4pt;
}

#statline {
    opacity: 1;
}

#statline.hide {
    transition-property: opacity;
    transition-duration: 4s;
    opacity: 0;
}

/*****************************************************************************/
