<!-- ********************************************************************** -->
<!-- Main page: this sets up menu, toolbar, "board" (for story elements)
     and status line. Additionally, this loads the scripts needed to
     render the story on the screen. -->
<!-- ********************************************************************** -->

<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <link href="moe.gui.css" rel="stylesheet" type="text/css">
    <!-- <link href="moe.sheet.css" rel="stylesheet" type="text/css"> <!---->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css" rel="stylesheet" type="text/css"> <!---->
</head><body>

    <!------------------------------------------------------------------------>
    <!-- Possible application wide menu -->
    <!------------------------------------------------------------------------>

    <!--
    <div id="menubar" class="gui widgetbox">
        <label>File</label>
        <label style="float: right;">Help</label>
        </div>
    <!---->

    <!------------------------------------------------------------------------>
    <!-- Section managed by chosen view: it usually includes toolbar and
         board for story. -->
    <!------------------------------------------------------------------------>

    <div id="view">
        <div id="board"/>
        </div>
    
    <!------------------------------------------------------------------------>
    <!-- Status bar at bottom -->
    <!------------------------------------------------------------------------>

    <div id="statusbar" class="gui">
        <label id="statline">Loading...</label>
        </div>
    <!--
    <button ng-click="add()">New</button>
    <button ng-click="save()">Save</button>
    <button ng-click="clear()">Clear</button>
    -->

    <!------------------------------------------------------------------------>
    <!-- Scripts -->
    <!------------------------------------------------------------------------>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom-server.browser.production.min.js"></script>
    <script src="https://unpkg.com/immutable/dist/immutable.js"></script>
    
    <script src="https://unpkg.com/slate/dist/slate.js"></script>
    <script src="https://unpkg.com/slate-react/dist/slate-react.js"></script>
    <script src="https://unpkg.com/slate-plain-serializer/dist/slate-plain-serializer.js"></script>

    <!--
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src = "https://apis.google.com/js/api.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>

    <script src = "moe.helpers.js"></script>
    <script src = "moe.storage.gdrive.js"></script>
    <script src = "moe.storage.dropbox.js"></script>
    <script src = "moe.storage.host.js"></script>
    <script src = "moe.storage.browser.js"></script>
    <script src = "moe.story.js"></script>
    <script src = "moe.layout.js"></script>
    <script src = "moe.sheet.js"></script>
    -->
    <script src = "moe.js" type="text/babel"></script>
</body></html>
