/* ----------------------------------------------------------------------------
// Styles for Separator depending if it is horizontal or vertical box.
// ----------------------------------------------------------------------------
*/

.HBox > .Separator {
    height: 100%;
    border-right: 1pt solid lightgrey;
    margin-left: 2pt;
    margin-right: 2pt;
}
.VBox > .Separator {
    width:  100%;
    border-bottom: 1pt solid lightgrey;
    margin-top: 2pt;
    margin-bottom: 2pt;
}
