/* ---------------------------------------------------------------------------- */
/* Organizer styles */
/* ---------------------------------------------------------------------------- */

.Organizer div.Section {
  counter-reset: scene;

  /*
  display: flex;
  flex-wrap: wrap;
  */
  overflow-x: auto;

  padding: 8pt;
  padding-bottom: 1cm;
}

/* ---------------------------------------------------------------------------- */

.Organizer div.Part {
  display: flex;
  flex-direction: column;
  /*
  flex-wrap: wrap;
  */

  border: 2px solid lightgray;

  margin: 4pt;

  /*
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 8pt;
  margin-top: 4pt;
  border-bottom: 1pt dashed grey;

  padding-left: 4pt;
  */
}

.Organizer .Part > .Name {
  padding: 4pt;
  border-bottom: 2pt solid lightgray;
  background: lightgoldenrodyellow;
}

.Organizer .Part > .List {
  /*
  border: 1px solid grey;
  */
  min-height: 100px;
  flex-grow: 1;
  background: skyblue;
  padding: 4pt;
}

/* ---------------------------------------------------------------------------- */

.Organizer div.Scene {
  display: flex;
  cursor:pointer;

  min-width: 150px;
  /*
  width: 300px;
  height: 300px;
  */

  background: white;
  border: 1px solid lightgray;
  padding: 4pt;

  margin-top: 2pt;
  margin-bottom: 2pt;

  /*
  margin: 4pt;
  padding-top: 6pt;
  padding-bottom: 6pt;
  */
}

.Organizer div.Scene:hover {
  background: lightgrey;
}

.Organizer div.Scene > .Name {
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

.Organizer div.Scene > .Name::before {
  counter-increment: scene;
  content: counter(scene) ". "
}
