/* ----------------------------------------------------------------------------
//
// Styles for story elements in the editor.
//
// ----------------------------------------------------------------------------
*/

/* ---------------------------------------------------------------------------- */
/* Visibility (for debugging) */

/*
.Secondary { display: none; }
.Outline { display: none; }
*/

/* ---------------------------------------------------------------------------- */

.Outline {
  width: 250px;
  background-color: lightgray;
  /*
  background-color: #EEE;
  */
}

.Board { overflow: auto; background-color: #EEE; }

.Centered { flex-grow: 1; }
.Primary { flex-grow: 1; }

/* ---------------------------------------------------------------------------- */

.Sheet {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  /*
  font-family: 'Courier New', Courier, monospace;
  font-family:Arial, Helvetica, sans-serif;
  */
  font-size: 12pt;
  line-height: 180%;
  padding-top: 1cm;
  padding-bottom: 2cm;

  min-width: 5in;
  max-width: 6in;
}

.Centered .Sheet {
  /* Center sheet horizontally to board */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5cm;
  padding-right: 1.5cm;
}

.Primary .Sheet {
  padding-left: 1.0cm;
  padding-right: 1.0cm;
}

.Secondary .Sheet {
  background-color: white;
  padding-left: 0.5cm;
  padding-right: 0.5cm;

  max-width: 6in;
}

/* Uncomment in case you want sheet to look bit like paper: */

.Centered .Sheet {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}
/**/

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet h1 {
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2cm;
}

.Sheet p {
  margin: 0pt;
  text-indent: 1.0cm;
}

.Sheet p.noident {
  text-indent: 0;
}

.Sheet p.missing {
  color: #B22;
}

.Sheet p.comment {
  color: #272;
}

.Sheet p.synopsis {
}

.Sheet p.scene {
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  font-weight: bold;
  text-indent: 0;
  color:gray;
}
