/* ----------------------------------------------------------------------------
//
// Styles for story elements in the editor.
//
// ----------------------------------------------------------------------------
*/

@import "./styles/board.css";
@import "./styles/sheet.css";

/* ---------------------------------------------------------------------------- */
/* Variables */

/* ---------------------------------------------------------------------------- */
/* Wrapped pre for development */

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ---------------------------------------------------------------------------- */
/* Visibility (for debugging) */

/*
.Secondary { display: none; }
.Outline { display: none; }
*/

/* ---------------------------------------------------------------------------- */

.Outline {
  /*
  width: 300px;
  background-color: lightgray;
  */
  overflow: auto;
  padding-top: 0.5cm;
  padding-left: 4px;
  border-right: 1pt dashed lightgray;
}

.Outline .entry {
  padding: 6px;
  padding-left: 16px;
  cursor: default;
}

.Outline .entry:hover {
  background-color: lightgrey;
}

/* ---------------------------------------------------------------------------- */

.Board {
  display: flex;
  flex-grow: 1;
  flex-direction:column;
  overflow: auto;
}

.Sheet {
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;

  /*
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  */
  padding-left: 1in;
  padding-right: 1in;
  padding-top: 1cm;
  padding-bottom: 1in;

  background-color: white;
/*
  padding-top: 1cm;
  padding-bottom: 2cm;
*/
  min-width: 6in;
  max-width: 8in;
  min-height: 11in;
}

.Sheet.Shadow {
  /*
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 0px inset, rgb(0 0 0 / 7%) 0px -1px 0px inset;
  */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
