/* ----------------------------------------------------------------------------
//
// Styles for story elements in the editor.
//
// ----------------------------------------------------------------------------
*/

/* ---------------------------------------------------------------------------- */
/* Wrapped pre for development */

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ---------------------------------------------------------------------------- */
/* Visibility (for debugging) */

/*
.Secondary { display: none; }
.Outline { display: none; }
*/

/* ---------------------------------------------------------------------------- */

.EditArea {
  flex-grow: 1;
  overflow: hidden;
  background-color: #f8f8f8;
}

/* ---------------------------------------------------------------------------- */

.Outline {
  /*
  width: 300px;
  background-color: lightgray;
  */
  overflow: auto;
  padding-top: 0.5cm;
  padding-left: 4px;
  border-right: 1pt dashed lightgray;
}

.Outline .entry {
  padding: 6px;
  padding-left: 16px;
  cursor: default;
}

.Outline .entry:hover {
  background-color: lightgrey;
}

/* ---------------------------------------------------------------------------- */

.Board { overflow: auto; }

/* ---------------------------------------------------------------------------- */

.Sheet {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  /*
  font-family: 'Courier New', Courier, monospace;
  font-family:Arial, Helvetica, sans-serif;
  */
  font-size: 12pt;
  line-height: 180%;
  padding-top: 1cm;
  padding-bottom: 2cm;

  min-width: 5in;
  max-width: 8in;
  min-height: 12in;
}

.Centered { flex-grow: 1; }
.Split { flex-grow: 1; overflow: auto }
.Primary { flex-grow: 1; padding-left: 0.5cm; }

.Split .Sheet {
  margin-left: auto;
  margin-right: auto;

  /*
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  */
  padding-left: 0.5in;
  padding-right: 0.5in;
}

.Centered .Sheet {
  /* Center sheet horizontally to board */
  /*
  */

  margin-left: auto;
  margin-right: auto;

  /*
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  */
  padding-left: 1in;
  padding-right: 1in;
}

.Primary .Sheet {
  padding-left: 1.0cm;
  padding-right: 1.0cm;
  max-width: 6in;
}

.Secondary .Sheet {
  background-color: white;
  padding-left: 0.5cm;
  padding-right: 0.5cm;

  max-width: 6in;
}

.Sheet.Shadow {
  /*
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 0px inset, rgb(0 0 0 / 7%) 0px -1px 0px inset;
  */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

/* ----------------------------------------------------------------------------
// Sheet Subelements
// ----------------------------------------------------------------------------
*/

.Sheet h1 {
  font-size: 17pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2cm;
}

.Sheet p {
  margin: 0pt;
}

.Sheet p + p {
  text-indent: 1.0cm;
}

.Sheet p.missing, p.comment {
  /*
  padding-left: 1cm;
  text-indent: 0;
  */
}

.Sheet p.missing {
  color: rgb(155, 28, 28);
  background-color: #FFF2F2;
  /* border-left: 4px solid #D88; */
}

.Sheet p.comment {
  color: rgb(8, 58, 8);
  background-color: #F8FFF8;
  /* border-left: 4px solid #8D8; */
}

.Sheet p.synopsis {
  color: rgb(46, 49, 7);
  background-color: #faf9c9;
}

.Sheet h2.scene {
  padding: 0;
  margin: 0;
  margin-top: 0.5cm;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  text-indent: 0;
  color:gray;
}

.Sheet div.scene {
  border: 1pt solid lightgray;
  border-radius: 4px;
  margin-bottom: 4px;
}
