/******************************************************************************
******************************************************************************/

div#main {
    display: flex;
    flex-direction: row;
    background: rgb(240, 240, 240);
}

/*---------------------------------------------------------------------------*/

div#editor {
    background: white;
}
