/******************************************************************************
******************************************************************************/

/*---------------------------------------------------------------------------*/
/* Make <html> and its <body> to use entire browser window area */
/*---------------------------------------------------------------------------*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margins */
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
    font-family: Arial;
    font-size: 12pt;
}

/*---------------------------------------------------------------------------*/

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
    /*
    */
}

/*---------------------------------------------------------------------------*/

.Editor /* Editor group combines toolbar, board and statusbar */
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

/*---------------------------------------------------------------------------*/

.Toolbar {
    display: flex;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(170, 170, 170);
    padding: 4pt;
}

.Statusbar {
    background: rgb(250, 250, 250);
    border-top: 1px solid rgb(170, 170, 170);
    padding: 4pt;
    margin-top: auto;
}

/*---------------------------------------------------------------------------*/

.Editor .Board
{
    flex: auto; /* Equals: flex 1 1 auto; */
    overflow-y: auto;
    overflow-x: auto;

    /* Space left around sheet on board */
/*
    */
}

.Editor .Board .Sheet {
    font: 12pt times;
    line-height: 1.4;
}

.Editor .Board .Sheet {
    background: white;

    padding-top: 1cm;
    padding-bottom: 2cm;
    padding-left: 0.8cm;
    padding-right: 0.8cm;

    min-width: 10cm;
    max-width: 15cm;
    min-height: 20cm;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 8pt;
    margin-bottom: 8pt;

    /*
    */
}

.Editor .Board .Sheet:focus
{
    box-shadow: 0 0 4pt 2pt rgba(100, 100, 100, 0.2);
}

/*---------------------------------------------------------------------------*/

.Toolbar .Button {
    cursor: pointer;
    padding: 2pt 2pt 2pt 2pt;
    font-size: 10pt;
    /*
    border-radius: 3pt;
    margin: 2pt;
    padding: 2pt 4pt 0pt 4pt;
    padding: 2px 8px 2px 8px;
    margin: 2px 2px 2px 2px;
    */
}

.Toolbar .Button:hover {
    transition-property: background;
    transition-duration: 0.2s;
    background: rgb(200, 200, 200);
}

.Toolbar .Separator {
    border-left: 1pt solid rgb(180, 180, 180);
    margin: 2pt 4pt 4pt 4pt;
}

/*---------------------------------------------------------------------------*/

.material-icons       { font-size: 18px; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.60); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

