/*---------------------------------------------------------------------------*/

.Sheet {
    font: 12pt times;
    line-height: 1.4;
    /*
    */
}

/*---------------------------------------------------------------------------*/

.Sheet#header #title {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 8pt;
}

.Sheet#header #title #author {
    text-align: center;
    margin-bottom: 8pt;
}

.Sheet #header {
    margin-bottom: 1cm;
}

/*---------------------------------------------------------------------------*/

.Sheet h1 {
}

/*---------------------------------------------------------------------------*/

.Sheet p {
    margin: 0;
    /* margin-bottom: 1em; */
    text-indent: 1cm;
}

.Sheet #indent
{
    padding-left: 1cm;
}

.Sheet #comment p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.Sheet #comment {
    background: rgb(230, 255, 230);
    border-left:  4pt solid rgb(150, 200, 150);
    padding: 4pt 0.5cm 4pt 1cm;
    margin-bottom: 1em;

    /*
    position: relative;
    height: 2cm;
    overflow: hidden;
    */
}

/*
.Sheet #comment:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        rgba(230, 255, 230, 0) 50%,
        rgba(230, 255, 230, 1) 90%
    );
}
*/

/*---------------------------------------------------------------------------*/

.Sheet .scene {
    /*border: 1pt solid rgb(200, 200, 200);*/
    /*margin-top: 4pt;*/
}

.Sheet .hidden {
    display: none;
}

/*---------------------------------------------------------------------------*/

.Sheet .action {
    cursor: pointer;
    left: 0.5cm;
    top: -5pt;
    font: 9pt Arial;
    border-radius: 6pt;
    padding: 1pt 6pt 1pt 6pt;
    margin-left: 0.5cm;
    /*
    color: rgb(160, 160, 160);
    background: rgba(255, 255, 255, 1);
    */
    color: rgba(0, 0, 0, 0);
}

.Sheet .focus {
    box-shadow: 0 0 1px 2px rgb(180, 180, 200);
    background: rgba(230, 230, 230, 1);
    color: black;
}

.Sheet .action:hover {
    /*box-shadow: 0 0 1px 2px rgb(100, 120, 150);*/
    background: rgba(230, 230, 230, 1);
    color: black;
}

.Sheet .scenebreak
{
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.Sheet .scenebreak:before
{
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px dashed rgb(220, 220, 220);
    content: "";
    z-index: -1;
    /*
    display: block;
    */
    /*height: 1px;*/
    /* margin-top: 1.5em; */
}
