/*---------------------------------------------------------------------------*/

.Sheet {
    font: 12pt times;
    line-height: 1.4;
    /*
    */
}

/*---------------------------------------------------------------------------*/

.Sheet#header #title {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 8pt;
}

.Sheet#header #title #author {
    text-align: center;
    margin-bottom: 8pt;
}

.Sheet #header {
    margin-bottom: 1cm;
}

/*---------------------------------------------------------------------------*/

.Sheet h1 {
}

/*---------------------------------------------------------------------------*/

.Sheet p {
    margin: 0;
    margin-bottom: 1em;
}

.Sheet #comment p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.Sheet #comment {
    background: rgb(230, 255, 230);
    border-left:  4pt solid rgb(150, 200, 150);
    padding: 4pt 0.5cm 4pt 1cm;
    margin-bottom: 1em;

    /*
    position: relative;
    height: 2cm;
    overflow: hidden;
    */
}

/*
.Sheet #comment:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        rgba(230, 255, 230, 0) 50%,
        rgba(230, 255, 230, 1) 90%
    );
}
*/

/*---------------------------------------------------------------------------*/

.Sheet #folded {
    border: 1pt solid rgb(200, 200, 200);
}

.Sheet .hidden {
    display: none;
}

/*---------------------------------------------------------------------------*/

.Sheet .focus {
    box-shadow: 0 0 2px 2px rgb(100, 120, 150);
}

.Sheet .action {
    font-family: 10pt Arial;
    background: rgb(220, 220, 230);
    border-radius: 2pt;
    padding: 0pt 4pt 0pt 4pt;
}

.Sheet .scenebreak
{
    border: none;
    border-top: 1pt dashed rgb(200, 200, 200);
}
