/*---------------------------------------------------------------------------*/

.Sheet {
    font: 12pt times;
    line-height: 1.4;
    /*
    */
}

/*---------------------------------------------------------------------------*/

.Sheet#header #title {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 8pt;
}

.Sheet#header #title #author {
    text-align: center;
    margin-bottom: 8pt;
}

.Sheet #header {
    margin-bottom: 1cm;
}

/*---------------------------------------------------------------------------*/

.Sheet h1 {
}

/*---------------------------------------------------------------------------*/

/* TODO: Later, we go with paragraphs that: have first line indented, except
 * in all specific cases where it is regarded as "starting" paragraph, when
 * it does not have indentation. Will be difficult with lists, indented blocks
 * scenes, chapters and so on. But it is needed to produce "correct" RTF draft
 * from text.
 */

.Sheet p {
    margin: 0;
    margin-bottom: 1em;
    /* text-indent: 1cm; */
}

.Sheet #comment p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*---------------------------------------------------------------------------*/

.Sheet #comment {
    background: rgb(230, 255, 230);
    border-left:  4pt solid rgb(150, 200, 150);
    margin-left: 1cm;
    padding: 4pt 4pt 4pt 1em;
    margin-bottom: 1em;
}

/* Demonstration: this shows how to fade out content on blocks, which
 * size is limited. Does not work as well as it should, but looks "cool"
 * if you don't go inside the box.
 */

/*
.Sheet #comment {
    position: relative;
    height: 2cm;
    overflow: hidden;
}

.Sheet #comment:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient
    (
        rgba(230, 255, 230, 0) 50%,
        rgba(230, 255, 230, 1) 90%
    );
}
*/

/*---------------------------------------------------------------------------*/

.Sheet #indent
{
    padding-left: 1cm;
}

/*---------------------------------------------------------------------------*/
/* Scene div's
/*---------------------------------------------------------------------------*/

.Sheet .scene {
    /*border: 1pt solid rgb(200, 200, 200);*/
    /*margin-top: 4pt;*/
}

/* Even thought we don't save scene breaks (only scene groups), we most probably
 * will need a "break" block for all sorts of actions. This one will will draw
 * greyed line at the middle of the break block. We programmatically insert
 * a button to this.
 */

.Sheet .scenebreak
{
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.Sheet .scenebreak:before
{
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px dashed rgb(220, 220, 220);
    content: "";
    z-index: -1;
}

/*---------------------------------------------------------------------------*/
/* Special elements */
/*---------------------------------------------------------------------------*/

.Sheet .action {
    cursor: pointer;
    left: 0.5cm;
    top: -5pt;
    font: 9pt Arial;
    border-radius: 6pt;
    padding: 1pt 6pt 1pt 6pt;
    margin-left: 0.5cm;
    /*
    color: rgb(160, 160, 160);
    background: rgba(255, 255, 255, 1);
    */
    color: rgba(0, 0, 0, 0);
}

.Sheet .focus {
    box-shadow: 0 0 1px 2px rgb(180, 180, 200);
    background: rgba(230, 230, 230, 1);
    color: black;
}

.Sheet .action:hover {
    /*box-shadow: 0 0 1px 2px rgb(100, 120, 150);*/
    background: rgba(230, 230, 230, 1);
    color: black;
}

.Sheet .hidden {
    display: none;
}


