
.Section.Container {
  display: flex;

  overflow-y: auto;
  overflow-x: hidden;
  /*
  margin: 4pt;
  border: 1pt solid lightgray;
  padding: 4pt;
  */
}

/* ---------------------------------------------------------------------------- */

div.Part {
  display: flex;
  flex-direction: column;
  /*
  flex-wrap: wrap;
  */

  border: 2pt solid lightgray;
  padding: 4pt;
  background: lightgoldenrodyellow;
  margin: 4pt;
  /*
  border-bottom: 1pt dashed grey;
  margin-bottom: 8pt;

  padding-left: 4pt;
  margin-top: 4pt;
  */
}

.Part .List {
  border: 1px solid grey;
  flex-grow: 1;
  min-height: 100px;
}

/* ---------------------------------------------------------------------------- */

div.Scene {
  display: flex;
  cursor:pointer;
  /*
  width: 300px;
  height: 300px;
  */
  background: white;
  border: 1pt solid lightgray;
  margin: 4pt;
  padding: 4pt;

  /*
  margin-top: 2pt;
  margin-bottom: 2pt;

  padding-top: 6pt;
  padding-bottom: 6pt;
  */
}

div.Scene:hover {
  background: lightgrey;
}

div.Scene .Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
